body{
    font-family: sans-serif;
    background-color: #f0f6ff;
    margin: 20px;
}
.flex-container {
    border: 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:40px;
    margin:20px;
}

.box{
    background-color: rgb(164, 114, 180);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    height: 450px;
    width: 500px;
}