body{
    font-family: 'georgia',serif;
    background-color: white;
    margin:20px;

}
.container{
    background-color: rgb(206, 215, 235);
    border:2 px black;
    display: flex;
    padding:40px;
    margin:20px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card{
    background-color: white;
    width: 220px;
    text-align:center;
    border-radius:10px;
    padding: 20px;
    box-shadow: 0 4px 8 px rgba(0,0,0,0.5);
    border: 2px solid #0e549f
}
.circle{
    background-color: #0e3e70;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width:70px;
    height:70px;
    line-height: 70px;
    margin: 0 auto 15px;
}
.h3{
    margin-bottom: 5 px;

}
.p{
    margin: 50px 0;
    font-size: 14px;
}