body{
    background-color: rgb(246, 240, 240);
    
}
#text{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    font-size: 40px;
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;

}
.product-card{
    background-color: rgb(182, 182, 182);
    width: 300px;
    border-radius:10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1)
}
.product-card img {
    width: 290px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.product-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product-card p {
    font-size: 13px;
    color: #555;
}

.price {
    color: rgb(2, 93, 251);
    font-weight: bold;
    margin: 10px 0;
}

.button {
    background: #c04d0b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #7a1b06;
}