.body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: left;
}

.h1 {
    margin-bottom: 40px;
}

.h2 {
    text-align: left;
    margin-top: 40px;
}

.block-menu a {
    display: block;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 5px;
}

.inline-menu a {
    display: inline;
    background-color: green;
    color: white;
    padding: 8px 14px;
    margin: 5px;
}

.inlineblock-menu a {
    display: inline-block;
    background: purple;
    color: white;
    padding: 12px 20px;
    margin-right: 8px;
    text-decoration: none;
    margin: 5px;
}

.float-menu a {
    float: left;
    background: orange;
    color: white;
    padding: 12px 18px;
    margin-right: 10px;
    text-decoration: none;
    }